Information About the Post
<ul>
  <li>
    <%= render partial: "authors/author", locals: {post_author: @post.author} %>

    <%= author.name %></li>
  <li>
    <%= author.hometown %></li>
</ul>
<%= @post.title %>
<%= @post.content %>
